@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Marck+Script&display=swap');
*{
    font-family: Lilita One;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
p{
    font-size: 1.5em;
}
.container-home{
    background-color: rgb(181, 234, 234);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-container{
    background-color: rgb(181, 234, 234);
    min-height: 5vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    text-decoration: none;
    padding: 1rem;
}
a{
    font-size: 2rem;
    color: rgb(243, 139, 160);
}
.logo{
    width: 5rem;

}
header{
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body{
    background-color: rgb(243, 139, 160);
}
h1{
    margin: 2vh;
}
h2{
    text-decoration-line: underline;
    margin: 1vh;
}
.main-home{
    min-height: 80vh;
    padding: 6rem;
}
.homeimg1{
    border-radius: 4rem;
    width: 100%;
    height:70vh;
    object-fit: cover;
}
.text-img{
    margin-top: 6vh;
    display: flex;
    justify-content: space-evenly;
}
.text-img p{
    width: 30rem;
    display: flex;
    align-items: center;
}
.homeimg2{
    border-radius: 2rem;
    width: 20rem;
    display: flex;
}
footer{
    background-color:  rgb(181, 234, 234);
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 10vh;
    width: 100%;
    align-items: center;
}
/* Termina Home */

/* Empieza About Us */
.about-img{
    width: 20rem;
}
.about-div{
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
}
.main-about{
    min-width: 90vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
    gap: 3em;
}
.about-div p{
    width: 20rem;
    align-self: center;
}
/* Termina About Us */

/* Empieza Contact */
.main-contact{
    text-align: center;
}
.contact-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contact-img{
    width: 55vw;
    border-radius: 2rem;
}
.mail-phone{
    color: blue;
}
/* Termina Contact */

/* Empieza More Information */
.h2-info{
    text-decoration-line: underline;
}
.main-info{
    width: 90vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
table{
    font-size: 2rem;
    width: 40rem;
    height: 40rem;
    border: solid;
    border-collapse: collapse;
    text-align: center;
}
th{
    padding: 1em;
}
td{
    border: solid;
}
/* Termina More Information */

/* Empieza Benefits and Tips */
.main-benefits{
    display: flex;
}
.mayor{
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: cover;
    margin: 1rem;
    width: 100%;
}
.div-list1{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 55vw;
    justify-content: space-around;
}
.div-list1 ol{
    padding-left: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 3rem;
}
.div-list2 ol{
    padding-left: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 3rem;
}
.div-list2{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 55vw;
    justify-content: space-around;
}
.img-benefits{
    height: 15rem;
    width: 15rem;
    padding: 1rem;
    border-radius: 2rem;
    display: flex;
    object-fit: cover;
}

/* Termina Benefits and Tips */

/* Empieza Raffle */
.main-raffle{
    min-height: 80vh;
}
.subtitle-raffle{
    text-align: center;
    font-size: 2rem;
}
.mapimg{
    width: 50rem;
    height: 30rem;
    border-radius: 2rem;
    margin-top: 1rem;
}
.map{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.formulary{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}
.map-formulary{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
form{
    width: 15rem;
}
fieldset{
    border: none;
}
label,input{
    margin: 2px;
}
.send{
    width: 5rem;
}
@media (max-width:768px){
    .container-home{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    nav{
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    nav a{
        font-size: 1.5rem;
        padding: 0.2rem;
    }
    .logo-container{
        order: 1;
    }
/* Termina Home */

/* Empieza About Us */
    .about-img{
        width: 13rem;
        height: 20rem;
    }
    .about-div p{
        width: 12rem;
    }
/* Termina About Us */
    
/* Empieza Contact */
    .mail-phone{
        padding: 2rem;
        font-size: 1.6rem;
    }
/* Termina  Contact */

/* Empieza More Information */
    table{
        height: 40rem;
        font-size: 1.5rem;
    }
/* Termina More Information */

/* Empieza Benefits And Tips */
    .div-list1{
        text-align: center;
    }
    .img-benefits{
        width: 11rem;
        height: 15rem;
    }
/* Termina Benefits And Tips */

/* Empieza Raffle */

    .subtitle-raffle{
        font-size: 1.5rem;
    }
    .mapimg{
        width: 25rem;
        height: 26rem;
    }
    .map-formulary{
        margin-right: 3rem;
    }
}
@media (max-width:426px){
    .homeimg1{
        width: 20rem;
        height: 18rem;
    }
    .homeimg2{
        width: 10rem;
        height: 14rem;
    }
    .text-img p{
        font-size: 1rem;
        padding: 2rem;
    }
/* Termina Home */

/* Empieza About Us */
    .about-img{
        width: 10rem;
        height: 20rem;
        margin-right: 1rem;
    }
    .about-div p{
        font-size: 1rem;
}
/* Termina About Us */

/* Empieza Contact */
    .mail-phone{
        font-size: 1.3rem;
    }
    /* Termina Contact */

    /* Empieza More Information */
    table{
        width: 10rem;
    }
    /* Termina More Info */

    /* Empieza Raffle */
    .map-formulary{
        flex-direction: column;
        align-items: center;
    }
    .mapimg{
        width: 25rem;
        height: 20rem;
        padding: 2rem;
    }
}